<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>UI浮出层组件</title>
        <link type="text/css" rel="stylesheet" href="floating-layer-component.css" />
    </head>
    <body>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <div id="wrapper"></div>
        <div class="layer" id="layer">
            <p id="layer_title">浮出层弹窗</p>
            <textarea placeholder="这是一个简单的浮出层" id="txtarea" readonly="readonly"></textarea>
            <div class="btn">
                <input type="button" value="确定" id="confirm">
                <input type="button" value="取消" id="cancel">
            </div>
        </div>
        <input type="button" id="test_drag" value="可拖动浮出层">
        <input type="button" id="test_resize" value="可缩放浮出层">
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>
        <p>正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本正常文本</p>
        <br>

        <script type="text/javaScript" src="floating-layer-component.js"></script>
    </body>
</html>

<div id="element">
    name:<input v-model="name">
    password:<input v-model="password">
</div>

<script>
    var element = document.getElementById('element')
    // 数据模型
    var _model = {
        name: 'zhangshan',
        password:'123'
    }
    
    var key = 'v-model'

    function mvvm (element,_model) {
        var model = {}
        for (let key in _model) {
            Object.defineProperty(model,key,{
                get () {return _model[key]},
                set (val) {
                    _model.key = val
                    modelView()
                }
            })
        }
        modelView()
        // 视图到模型
        element.addEventListener('keyup', function(e){
            var el = e.target
            if (el.getAttribute(key)) {
                model[el.getAttribute(key)] = el.value
            }
        })
        // 模型到视图
        function modelView() {
            var children = element.children
            for (var i = 0; i < children.length; i++) {
                var el = children[i]
                if (el.getAttribute(key)) {
                    el.value =model[el.getAttribute(key)]
                }
            }
        }
        return model
    }

    var model = mvvm(element,_model)
</script>